<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @doctor.department %>
</p>

<ul>
  <% @doctor.appointments.each do |app| %>
    <li>
      <%= link_to app.patient.name, patient_path(app.patient) %>
      <%= ", " + app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
    </li>
  <% end %>  
</ul>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
