<h1>Appointments</h1>

<label> Date and Time: </label>
 <%= @appointment.appointment_datetime.strftime("%B %d, %Y") %> <%="at"%> <%= @appointment.appointment_datetime.strftime("%H:%M")%> <br>

 <label> Patient: </label>
 <a href ="/patients/<%= @appointment.patient.id %>">
  <%= @appointment.patient.name %><br>
</a>

 <label> Doctor: </label>
 <a href ="/doctors/<%= @appointment.doctor.id %>">
  <%= @appointment.doctor.name %><br>
 </a>